MONGODB_URI="mongodb://<your-username>:<your-password>@localhost:27017/ride-auth-service?authSource=admin"
PORT="5001"

NODE_ENV="development"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
